.card-container {
    width: 48rem;
    margin: 12rem 18rem
}

.card-margin {
    margin-Left: 15rem
}

.priority-margin {
    margin-Left: 2rem
}

.endDate-margin {
    margin-Left: 0.5rem
}